body, body::before, body::after{
    box-sizing: border-box;
    font-family: Gotham Rounded; 
    font-weight: normal;
    transition: 1s;
}

header{
    
    background-color: #0097F8;
    text-align: center;
}
.date{
    color: rgb(160, 160, 160);
}
.card-header{
    background-color:#00ffff;
    transition: 1s;
}
.card-header:hover{
    background-color:#2fa1ff;
    transition: 1s;
}
.img{
    background: #aaa;
    padding: 20px;
    background-size: cover;
    background-position: center;
}
.title-left-side{
    background-color:#47a6ff;
}
footer{
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

/*dark mode*/


label{
  position: absolute;
  width: 45px;
  height: 26px;
  right: 20px;
  top: 20px;
  border:2px solid;
  border-radius: 20px;
  
}

label:before{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
  transition: 0.4s;
}
label.active:before{
    transition: 1s;
    left: 21px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

body.dark{
    transition: 1s;
    background-color: black;
}
.theme{
    background: rgb(22, 57, 255);
    border: none !important;
    color: white;
}
.card-header.theme:hover{
    background: rgb(50, 155, 253);
}
.card-body.theme {
    background-color: rgb(80, 80, 80);
}
footer.theme{
    background-color: rgb(49, 49, 49);
    color: white;
}
.modal-body.theme{
    background-color: rgb(49, 49, 49);
}
